ul,li,div,body,html,a,img,span,i{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
.mgt-12{
    margin-top: 12px!important;
}
.header{
    height: 46px;
    border-bottom: 1px lightgrey solid;
}
.header li{
    font-size: 16px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header li a{
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
}
.back{
    border-right: 1px lightgrey solid;
}
.finish{
    border-left: 1px lightgrey solid;
}
.choose{
    background-color: #F5F5F5;
    width: 120px;
    height: 30px;
    border: 1px lightgrey solid;
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 45px;
}
.choose i{
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.choose span{
    display: inline-block;
    width: 26px;
    height: 15px;
    background: url("../img/4.png")no-repeat;
    background-size: 100%;
    vertical-align: middle;
}
.month-choose{
    display: none;
}
#month{
    margin-left: 10px;
    margin-right: 10px;
}
#date{
    margin-left: 10px;
    margin-right: 10px;
}

#date input{
    border: none;
    border-bottom: 1px lightgrey solid;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    width: 45%;
}
.date-value{
    border: none;
    border-bottom: 1px lightgrey solid;
    text-align: center;
    padding: 8px;
    font-size: 16px;
}
#choose{
    position: relative;
}
.text{
    width: 100%;
    color: red;
    text-align: center;
    position: absolute;
    left: 0;
    top: 160px;
    font-size: 16px;
    display: none;
}